<script src="https://unpkg.com/vue"></script>
<div id="firstApp">
  <html lang="en">
    <head>
      <meta charset="utf-8">
    
      <title>[[ title ]]</title>
    </head>
    <body>    
      <div class="container-fluid">
      {% for article in articles %}
        <div>
          <h2>{{ article.title }}</h2>
          <h2>{{ article.body }}</h2>
          <h2>{{ article.summary }}</h2>
          <h2>{{ article.date }}</h2>
        </div>
      {% endfor %}
      </div>
    </body>
  </html>
</div>
<script>
    new Vue({
      delimiters: ['[[', ']]'],
      el: '#firstApp',
      data: {
        title: 'Articles'
      }
    })
</script>