<script src="https://unpkg.com/vue"></script>
<div id="firstApp">
    <head>
      <meta charset="utf-8">
    
      <title>[[ title ]]</title>
    </head>
</div>
<script>
    new Vue({
      delimiters: ['[[', ']]'],
      el: '#firstApp',
      data: {
        title: 'Home'
      }
    })
</script>