<script src="https://unpkg.com/vue"></script>
<div id="firstApp">
  <html lang="en">
    <head>
      <meta charset="utf-8">
    
      <title>[[ title ]]</title>
    </head>
    <body>
      <div class="jumbotron">
        <h1>[[ title ]]</h1>
        {% if logged %}
          <p>Logged as {{ user }}</p>
          <p>Email: {{ object.estudent_email }}</p>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
            Login
          </a>
        {% endif %}
      </div>
    
      <!--<div class="container-fluid">
      {% for post in posts %}
        <div>
          <h2>{{ object.estudent_email }}</h2>
        </div>
      {% endfor %}-->
      </div>
    </body>
  </html>
</div>
<script>
    new Vue({
      delimiters: ['[[', ']]'],
      el: '#firstApp',
      data: {
        title: 'Profile'
      }
    })
</script>