<script src="https://unpkg.com/vue"></script>
<div id="firstApp">    
    <h1>[[ title ]]</h1>
</div>
<script>
    new Vue({
      delimiters: ['[[', ']]'],
      el: '#firstApp',
      data: {
        title: 'Profile'
      }
    })
</script>